.button {
  display: block;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  border: none;
  padding: 8px;
}
