.card {
  padding-top: 21px;

  display: grid;
  grid-template-areas:
    "image title"
    "image feature"
    "button button";
  grid-template-columns: 140px 1fr;

  &--more {
    padding-top: 70px;
    padding-bottom: 25px;
    grid-template-areas:
      "title"
      "text"
      "button";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-top: 100px;
    padding-right: 37px;
    padding-bottom: 38px;
    padding-left: 38px;
    background-color: $color-concrete;
    grid-template-areas:
      "image"
      "title"
      "feature"
      "button";
    grid-template-rows: 62px auto auto auto;
    grid-template-columns: 1fr;

    &--more {
      border: 2px solid $color-concrete;
      padding-top: 160px;
      padding-bottom: 36px;
      background-color: transparent;
      grid-template-areas:
        "title"
        "text"
        "button";
      grid-template-rows: min-content auto auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 39px;
    padding-right: 34px;
    padding-bottom: 40px;

    &--more {
      padding-top: 156px;
      padding-left: 37px;
      padding-right: 37px;
    }
  }
}

.card__link-image {
  grid-area: image;
  justify-self: center;
  align-self: flex-end;

  &--chicken {
    position: relative;
    top: -10px;
  }

  &--fish {
    position: relative;
    top: -6px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;
    bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    bottom: 43px;
  }
}

.card__image {
  @media (min-width: $tablet-width) {
    &--chicken {
      width: 161px;
      height: 172px;
    }

    &--chicken-big {
      width: 168px;
      height: 207px;
    }

    &--fish {
      width: 163px;
      height: 174px;
    }

    &--fish-big {
      width: 168px;
      height: 200px;
    }

    &--buckwheat {
      width: 161px;
      height: 171px;
    }

    &--buckwheat-big {
      width: 168px;
      height: 200px;
    }

    &--rice {
      width: 163px;
      height: 174px;
    }
  }

  @media (min-width: $desktop-width) {
    &--chicken-big {
      width: 172px;
      height: 202px;
    }

    &--fish-big {
      width: 172px;
      height: 196px;
    }

    &--buckwheat-big {
      width: 172px;
      height: 196px;
    }
  }
}

.card__link-title {
  text-decoration: none;
  grid-area: title;

  @media (min-width: $tablet-width) {
    justify-self: center;
  }
}

.card__title {
  color: $color-mine-shaft;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  width: 80px;
  margin-top: 0;
  margin-bottom: 15px;

  &--more {
    grid-area: title;
    width: auto;
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 9px;
  }

  &--more::after,
  &--more::before {
    content: "";
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-alto;
  }

  &--more::before {
    width: 2px;
    height: 30px;
  }

  &--more::after {
    width: 30px;
    height: 2px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 15px;

    &--more {
      margin-top: 0;
      margin-bottom: 26px;
      line-height: 1.1;
      top: 2px;
    }

    &--more::before {
      height: 60px;
    }

    &--more::after {
      width: 60px;
    }

    &--more::before,
    &--more::after {
      top: -80px;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 1.1;
    margin-bottom: 18px;

    &--more {
      margin-bottom: 26px;
    }
  }
}

.card__title br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.card__features-list {
  grid-area: feature;
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 1px;
    margin-right: 2px;
  }
}

.card__features-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1px;
  font-size: 12px;
  line-height: 1.3;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid $color-silver;
    font-size: 16px;
    line-height: 1;
  }
}

.card__features-value {
  &--weight {
    padding-right: 2px;
  }

  &--price {
    text-transform: uppercase;
  }
}

.card__shopping-link {
  text-decoration: none;
  grid-area: button;
  align-self: flex-end;
  margin-top: 14px;

  @media (min-width: $desktop-width) {
    margin-right: 4px;
  }
}

.card__more-button {
  grid-area: button;
  align-self: flex-end;
}

.card__text {
  grid-area: text;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.1;
  }
}

.card__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
