.catalog-more__title {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog-more__list {
  list-style-type: none;
  padding-left: 0;

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.catalog-more__promo {
  color: $color-white;
  background-image: linear-gradient(
      rgba($color-apple, 0.85),
      rgba($color-apple, 0.85)
    ),
    url("../img/background-promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 16px;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
