.catalog__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 25px;
  display: grid;
  gap: 24px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 144px;
    margin-bottom: 75px;
  }
}

.catalog__item {
  position: relative;

  &::before,
  &:last-child::after {
    content: "";
    height: 1px;
    background-color: $color-gallery;
    position: absolute;
    left: -20px;
    right: -20px;
  }

  &::before {
    top: 0;
  }

  &:last-child::after {
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &::before,
    &:last-child::after {
      display: none;
    }
  }
}
