.catalog-more__wrapper {
  margin-right: 20px;
  margin-left: 20px;
}

.catalog-more__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  margin-top: 0;
}

.catalog-more__list {
  list-style-type: none;
  padding-left: 0;
}

.catalog-more__promo {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/background-promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  text-align: center;
}
