.footer {
  background-color: $color-concrete;
}

.footer__contacts {
  position: relative;
}

.footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid $color-alto;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.footer__logo-image {
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  padding-top: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid $color-alto;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-width: 164px;
    margin-left: 30px;
  }
}
