.footer {
  background-color: $color-concrete;
}

.footer__contacts {
  position: relative;
}

.footer__logo {
  display: block;
  padding-top: 38px;
  padding-bottom: 31px;
  border-bottom: 1px solid $color-alto;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-top: 36px;
    margin-right: 60px;
  }
}

.footer__logo-image {
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-alto;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.footer__copyright {
  padding-top: 16px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-width: 164px;
    margin-left: 30px;
    padding-top: 26px;
    align-items: flex-end;
  }
}
