.form__fieldset {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  color: $color-black;

  &--cat-data {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.form__input-list {
  list-style-type: none;
  padding-left: 0;

  &--owner-data {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $color-tundora;
}

.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  border: 1px solid $color-mercury;
  padding: 13px;

  &::placeholder {
    color: $color-tundora;
  }
}

.form__control-list {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;

  &--more {
    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.form__footnote {
  color: $color-black;
}
