.intro {
  background-image: url("../../img/background-intro.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  padding: 26px 20px;
}

.intro__title {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin-top: 0;
}

.intro__text {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.intro__link {
  text-decoration: none;
}
