.line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    width: 100%;
    height: 2px;
    background-color: $color-apple;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 23px;
    }
  }
}

.line__title {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  background-color: $color-white;
  width: fit-content;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
  }
}
