.more-card {
  padding-top: 14px;
  padding-bottom: 17px;
  border-top: 1px solid $color-silver;

  &:last-child {
    border-bottom: 1px solid $color-silver;
  }

  display: grid;
  grid-template-areas: "title" "feature" "button";
  gap: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-right: 37px;
    padding-bottom: 27px;
    padding-left: 37px;
    border-left: 1px solid $color-silver;
    border-right: 1px solid $color-silver;
    grid-template-areas:
      "title feature"
      "button button";
    grid-template-columns: 1fr 1fr;
    gap: 21px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-right: 1px;
    padding-bottom: 16px;
    padding-left: 1px;
    border-left: none;
    border-right: none;
    grid-template-areas: "title feature button";
    grid-template-columns: 1fr 1fr 244px;
    gap: 32px;
  }
}

.more-card__link {
  text-decoration: none;
  grid-area: title;
}

.more-card__title {
  color: $color-mine-shaft;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.more-card__features-list {
  grid-area: feature;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 1.25;
    gap: 44px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.more-card__features-value {
  margin: 0;
  min-width: 50px;

  &--price {
    text-transform: uppercase;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    &--price {
      text-align: start;
    }
  }
}

.more-card__shopping-link {
  text-decoration: none;
  grid-area: button;
}
