.principle-operation {
  padding-bottom: 50px;
  counter-reset: count;
}

.principle-operation__title {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}

.principle-operation__list {
  list-style-type: none;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
    row-gap: 36px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 94px;
  }
}

.principle-operation__item {
  counter-increment: count;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 280px;

    &::after {
      content: counter(count);
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 1;
      color: $color-concrete;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}
