.principle-operation {
  padding-bottom: 50px;
  counter-reset: count;
}

.principle-operation__title {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}

.principle-operation__list {
  list-style-type: none;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
    row-gap: 36px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 94px;
  }
}

.principle-operation__item {
  counter-increment: count;
  position: relative;
  padding-left: 80px;
  min-height: 60px;

  &::before {
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
  }

  &--leaf::before {
    background-image: url("../img/icon-leaf.svg");
  }

  &--tub::before {
    background-image: url("../img/icon-tub.svg");
  }

  &--eat::before {
    background-image: url("../img/icon-eat.svg");
  }

  &--alarm::before {
    background-image: url("../img/icon-alarm.svg");
  }

  @media (min-width: $tablet-width) {
    min-height: 280px;
    padding-left: 0;
    padding-top: 120px;

    &::before {
      top: 20px;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(count);
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 1;
      color: $color-concrete;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}
