.select-program__wrapper {
  @include side-margin;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.select-program__title {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin-top: 0;
}

.select-program__lead {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
