.social__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__link {
  display: block;
  text-decoration: none;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $color-dove-gray;
  padding: 6px;
  margin-right: 6px;
  margin-left: 6px;
  width: 30px;
  height: 30px;

  &--vk {
    mask-image: url("../img/icon-vk.svg");
  }

  &--youtube {
    mask-image: url("../img/icon-youtube.svg");
  }

  &--telegram {
    mask-image: url("../img/icon-telegram.svg");
  }

  &:hover {
    background-color: $color-apple;
  }

  &:active {
    background-color: rgba($color-apple, 0.3);
  }
}
