.weight-loss-example {
  background-color: $color-gallery;
}

.weight-loss-example__wrapper {
  padding-top: 25px;
  display: grid;
  grid-template-areas:
    "title"
    "description"
    "list"
    "price"
    "image"
    "toggle";

  @include side-margin;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    grid-template-areas:
      "title title"
      "description description"
      "list price"
      "image image"
      "toggle toggle";
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-areas:
      "title image"
      "description image"
      "list image"
      "price toggle";
  }
}

.weight-loss-example__title {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 40px;
  grid-area: title;
}

.weight-loss-example__description {
  grid-area: description;
}

.weight-loss-example__list {
  grid-area: list;
}

.weight-loss-example__definition {
  font-size: 12px;
  line-height: 1;
}

.weight-loss-example__value {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 0;
}

.weight-loss-example__price {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  grid-area: price;
}

.weight-loss-example__photo {
  grid-area: image;
}

.weight-loss-example__toggle {
  grid-area: toggle;
}

.weight-loss-example__toggle-button {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
