.weight-loss-example {
  background-color: $color-gallery;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
    border-top: 1px solid $color-mercury;
    position: relative;
    z-index: 0;

    &::after {
      content: "";
      background-color: $color-gallery;
      width: 100%;
      height: 43%;
      bottom: 0;
      position: absolute;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    border-top: none;

    &::after {
      top: 189px;
      bottom: 0;
      height: auto;
    }
  }
}

.weight-loss-example__title {
  color: $color-black;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 41px;
  grid-area: title;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-bottom: 92px;
  }
}

.weight-loss-example__description {
  grid-area: description;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.weight-loss-example__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.weight-loss-example__list {
  grid-area: list;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-top: 18px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.weight-loss-example__item {
  border: 1px solid $color-silver;
  border-radius: 3px;
  padding: 13px;
  width: 124px;
  height: 56px;
  box-sizing: border-box;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-right: 42px;
    width: 162px;
    height: 72px;
  }
}

.weight-loss-example__definition {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 15px;
  padding-right: 15px;
  background-color: $color-gallery;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    width: max-content;
    top: 63px;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-gallery;
  }
}

.weight-loss-example__value {
  color: $color-black;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.weight-loss-example__price {
  color: $color-black;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  grid-area: price;
  justify-self: center;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    padding-top: 6px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    justify-self: flex-start;
    margin: 0;
    padding: 0;
  }
}

.weight-loss-example__price-description {
  margin-right: 2px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 63px;
  }
}

.weight-loss-example__photo-wrapper {
  grid-area: image;
  justify-self: center;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.weight-loss-example__photo {
  @media (min-width: $tablet-width) {
    &--before {
      width: 296px;
      height: 500px;
      object-fit: cover;
      object-position: left;
      position: relative;
      right: 148px;
    }

    &--after {
      width: 296px;
      height: 511px;
      object-fit: cover;
      object-position: right;
      position: relative;
      left: 148px;
    }
  }
}

.weight-loss-example__photo--after {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.weight-loss-example__toggle {
  grid-area: toggle;
  justify-self: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 460px 1fr;
    justify-items: center;
    align-items: center;
  }
}

.weight-loss-example__toggle-button {
  color: $color-black;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px dotted rgba($color-black, 0.24);
    padding: 0;
    margin-left: 6px;
    margin-right: 6px;

    &:hover {
      border-bottom-style: solid;
      border-bottom-color: rgba($color-black, 0.4);
    }
  }
}

.weight-loss-example__label {
  margin-left: 8px;
  margin-right: 8px;
}

.weight-loss-example__mark {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  width: 86px;
  height: 14px;
  border: 1px solid $color-silver;
  border-radius: 6px;
  background-color: $color-white;

  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 6px;
    background-color: $color-apple;
    border-radius: 6px;
    top: 3px;
    left: 6px;
  }

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    background-color: $color-alto;
    border: none;
    position: relative;

    &::before {
      display: none;
    }
  }
}

.weight-loss-example__checkbox:checked + .weight-loss-example__mark::before {
  left: auto;
  right: 6px;
}

.weight-loss-example__range-toggle {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    width: 34px;
    height: 34px;
    top: -14px;
    left: 196px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background: $color-white;
    border: 1px solid $color-alto;
    filter: drop-shadow(0 1px 3px rgba($color-black, 0.16));

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-apple;
      top: 12px;
      left: 12px;
    }

    &:hover {
      filter: drop-shadow(0 2px 4px rgba($color-black, 0.19));
    }

    &:active {
      border-color: $color-apple;
    }
  }
}
