.wrapper {
  @include side-margin;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }

  &--intro {
    box-sizing: border-box;
    padding-top: 27px;

    @media (min-width: $tablet-width) {
      position: relative;
      padding-top: 0;
      padding-bottom: 300px;
      text-align: left;
      margin-top: 62px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 300px;
    }
  }

  &--weight-loss-example {
    padding-top: 25px;
    padding-bottom: 40px;
    display: grid;
    grid-template-areas:
      "title"
      "description"
      "list"
      "price"
      "image"
      "toggle";

    @media (min-width: $tablet-width) {
      grid-template-areas:
        "title title"
        "description description"
        "list price"
        "image image"
        "toggle toggle";
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 436px 600px;
      justify-content: space-between;
      grid-template-areas:
        "title image"
        "description image"
        "list image"
        "price toggle";
    }
  }

  &--footer {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
