$color-apple: #68b738;
$color-apple-dark: #5eaa2f;
$color-tundora: #444444;
$color-mine-shaft: #222222;
$color-dove-gray: #666666;
$color-black: #000000;
$color-white: #ffffff;
$color-concrete: #f2f2f2;
$color-mercury: #e7e7e7;
$color-gallery: #ebebeb;
$color-alto: #d9d9d9;
$color-silver: #cdcdcd;
$color-vivid-tangerine: #ff8282;

$font-primary: "Oswald", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
